<div class="center jumbotron">
  <h1>Welcome to MyRecipes WebPage</h1>
  
  <h2>This is my first web built with Ruby on Rails</h2>
  
  <%= link_to "Sing up now!","",class:"btn btn-large btn-success" %>
  <%= link_to "Sing in","",class:"btn btn-large btn-info" %>
</div>


<div class="row">
  <div class="col-lg-4">
    <h3 class="myRow">
      View recipes as Guest User
    </h3>
    <h2 class="left">Browse recipes as a guest and sign up later</h2>
    <p><%= link_to "Browse Receip Listing","",class:"btn btn-small btn-warning" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="myRow">
      View recipes as Guest User
    </h3>
    <h2 class="left">Browse recipes as a guest and sign up later</h2>
    <p><%= link_to "Browse receip listing","",class:"btn btn-small btn-warning" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="myRow">
      View recipes as Guest User
    </h3>
    <h2 class="left">Browse Recipes as a guest and sign up later</h2>
    <p><%= link_to "Browse receip listing","",class:"btn btn-small btn-warning" %></p>
  </div>
</div>