<nav class="navbar navbar-default navbar-fixed-top">
  <div class="content" style="margin-right:10px;">
    <%= link_to "MyRecipes", root_path, class:"btn btn-large btn-success",id: "logo" %>
    <div class="nav_item">
     <%= render 'recipes/linkRecipes' %>
    </div>
    <div class="nav_item">
      <%= link_to "Link 2", "", class:"btn btn-large btn-warning",id: "link2" %>
    </div>
    <% if logged_in? %>
      <div class="nav_item">
        <%= link_to "New recipe", new_recipe_path, class:"btn btn-large btn-warning",id: "link3" %>
      </div>
      <div class="nav_item pull-right">
        <p><%= link_to "Log out", logout_path, class:"btn btn-small btn-warning" %></p>
      </div>
      <% else %>
      <div class="nav_item pull-right">
        <p><%= link_to "Log in", login_path, class:"btn btn-small btn-warning" %></p>
      </div>
    <% end %>
  </div>
</nav>